<div>
<%= form_tag(posts_path,method: 'post')  do %>
  <%= label_tag(:title, "Title:") %>
  <%= text_field_tag(:title) %>

  <%= label_tag(:body, "Body:") %>
  <%= text_field_tag(:body) %>

   
  <%= submit_tag("Submit") %>
<% end %>
</div>