<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div >
  <% if flash[:notice] %>
        <div style="color:red; border-style: solid; border-color: red;">
         <p><%= notice %></p>
        </div>
     <%end%>

     <% if flash[:alert] %>
        <div style=" color:red; border-style: solid; border-color: red;">
         <p><%= alert %></p>
        </div>
     <%end%>
     </div>
     
    <div style="float: right;">
     <% if user_signed_in? %>
        
            <div style="display: inline; padding-right:15px;"><%= link_to "Logout", destroy_user_session_path, method: :delete %></div>
              
            <% else %>
           
            <div style="display: inline; padding-right:15px;">  <%= link_to 'Sign In', new_user_session_path%></div>
            
						
            <div style="display: inline; padding-right:15px;"><%= link_to 'Sign Up', new_user_registration_path%></div>
        
      <% end %>
    
 </div><br/><br/><br/>


    <%= yield %>
  </body>
</html>
